table, th, td {
    border: 2px solid blue;
}

#headline {
    background-color: aqua;
    text-align: center;
    font-size: large;
    padding: 30px;
}

.button {
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

.primary-button {
    background-color: blueviolet;
    color: floralwhite;
    border-color: black;
}

.secondary-button {
    background-color: floralwhite;
    color: blueviolet;
    border-color: blueviolet;
}

.menu-wrapper {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    background-color: brown;
    color: burlywood;
    padding: 20px;
}